mat-table {
    width: 80%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
mat-cell {
    text-align: left;
    /*max-width: 300px; */
}

.spac {
    width: 20px;
}
